

<h1>List of Cocktails</h1>

    <% @cocktails.each do |cocktail| %>
    <ul>
      <li>
       <%= cocktail.name %>
      </li>
    </ul>
    <% end %>
<%= link_to 'Create a new cocktail', new_cocktail_path %>
